@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  /* html {
    color-scheme: light dark;
  } */

  body {
    font-size:1em;
    line-height: 1.6;
    background: black; 
    color: #fff;
    font-size: 1em;
}

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    /* transition: .5s; */
    /* font-family: system-ui; */
    /* border: 1px solid yellow; */
}

a {
    text-decoration:none;
    cursor: pointer;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img,
  picture,
  svg,
  video,
  iframe,
  canvas {
    max-width: 100%;
    display: block;
  }
  
/* Header Section */

  header {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
  }

  div.logo {
    font-size: 2rem;
    font-weight: 600;
    pointer-events: none;
    color:#fff;
    text-wrap: nowrap;
  }


  div.menu-icon {
    display: none;
    color:#fff;
    font-size: 2em;
  }


  ul.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  ul.menu a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px transparent solid; 
  }

  ul.menu a:hover {
    border: 2px rgb(232, 111, 131) solid; 
    transition: .5s;
  }

  /* About Section */

  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    margin-top: 150px;
  }

  .info{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    padding: 30px;
    max-width: 70%;
  }


  .img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .img-card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
 
  .name-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 50%;
    align-content: center;

  }

  .name-card .name {
    font-size: 2em;
    font-weight: 700;
  }

.name-card button {
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    outline: none;
    border: #fff solid 2px;
    font-size: .8em;
    border-radius: 20px 0;
    font-weight: 600;
}

button:hover {
    border-color: rgb(232, 111, 131);
    color: rgb(232, 111, 131)
}

/* Experience */

.exp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  margin-top: 100px;

}

.exp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 70%;

}
.exp-container-bx {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  margin-top: 50px;
}
.exp-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px
}

.bxs-award {
  font-size: 4em;
  color: rgb(232, 111, 131);
}

/* Project Section */

.project {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}
.project-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  gap :30px;
  margin-top: 20px;
  max-width: 70%;

}

.project-card {
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
}

.project-card:hover {
  border-color: rgb(232, 111, 131);
}

.project-img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.project-img img {
width:100%;
height:100%;
object-fit: cover;
}

.project-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 10px 0;
  max-width: 200px;
  text-wrap:nowrap;
}

.project-btn{
  display: flex;
  justify-content: space-between;
}
.project-btn button {
  padding: 10px 20px;
  color: #fff;
  background-color: black;
  outline: none;
  border: #fff solid 2px;
  font-size: .8em;
  border-radius: 20px;
  font-weight:bold;
}

.project-btn :hover {
  border-color: rgb(232, 111, 131);
  color: rgb(232, 111, 131);
}

/* Skills Section */

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  min-height: 80vh;
  margin-top: 100px;

}

.skill-container {
  display:grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
  max-width: 70%;

}

.skill-card {
  display: grid;
  grid-template-columns: 150px 300px;
  gap: 20px;
  align-items: center;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
}
.skill-card p {
font-size: 1.2em;
font-weight: 600;
text-transform: uppercase;
}
.skill-level {
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.skill-level span {
  background: rgb(232, 111, 131);
  display: block;
  height: 100%;
  border-radius: 10px;

}

.skill-card-heading {
  grid-column: 1/ span 2;
  text-align: center;
}

/* Contact Section */

.contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  justify-content:center ;
  align-items: center;
  margin-top: 60px;

}

.contact-info {
  display: flex;
  gap: 30px;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
  margin: 100px 0;
  font-size: 1.2em;
  max-width: 70%;

}

.bx {
  color: rgb(232, 111, 131);
}

.footer {
  font-size: small;
  text-align: center;
  margin: 10px;
}
  @media screen and (max-width: 1146px) {
    header {
      padding : 20px 40px;
    }

    div.social {
      display: flex;
      flex-direction: column;
      position:absolute ;
      right: 0;
      top:100%;
    }

    ul.menu a {
      padding:10px;
    }
  }

  @media screen and (max-width: 768px) {

    div.menu-icon {
      display:block ;
    }

    ul.menu {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: block;
      position:absolute ;
      right: -100%;
      top:100%;
      width:100%;
    }

    ul.menu a {
      padding: 10px;
      display:block;
      text-align: center;
      width: 100%;
    }
    div.social {
      position:relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    ul.menu li{
      /* border: 1px solid yellow; */
      width:100%;
      display: block;
     margin: auto;
    }

    .menu.open {
        right: 0;
    }
  }