@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  html {
    color-scheme: dark light;
  }

  body {
    font-size:1rem;
    line-height: 1.6;
    background: black;  
    color: #fff;
    font-size: 1.125rem;
    scroll-behaviour:smooth;
}

  *,
  *::before,
  *::after {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

a {
    text-decoration:none;
    cursor: pointer;
}
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

  .header-content,
  .info,
  .exp-container,
  .project-container,
  .skill-container {
    width: min(80%, 1300px);
  }

@media screen and (max-width:600px) {
  .header-content,
  .info,
  .exp-container,
  .project-container,
  .skill-container {
    width: 90%;
  }
}

  ion-icon {
    color: rgb(232, 111, 131);
    font-weight: 600;
      font-size: 2rem;
      font-weight: 600;
  }
  
/* Header Section */

.navbar{
  background:#131313;
  height:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1.2rem;
  position:sticky;
  top:0;
  z-index:999;
}

.navbar_container{
  display:flex;
  justify-content:space-between;
  height:80px;
  z-index:1;
  width:100%;
  max-width:1300px;
  margin:0 auto;
  padding:0 50px;
}

#navbar_logo{
  background-color:#ff8177;
  background-image:linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size:100%;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  display:flex;
  align-items:center;
  cursor:pointer;
  text-decoration:none;
  font-size:2rem;
}

.navbar_menu{
  display:flex;
  align-items:center;
  list-style:none;
}

.navbar_item{
  height:80px;
}

.navbar_links{
  color:#fff;
  transition:all 0.3s ease;
  display:flex;
  align-items:center;
  justify-content:center;
  width:125px;
  text-decoration:none;
  height:100%;
}

.navbar_btn{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0 1rem;
  width:100%;
}

.button{
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  padding:10px 20px;
  height:100%;
  width:100%;
  border:none;
  outline:none;
  border-radius:4px;
  background:#833ab4;
  background:-webkit-linear-gradient(to right, #fcb845, #fd1d1d, #833ab4);
  background:linear-gradient(to right, #fcb845, #fd1d1d, #833ab4);
  color:#fff;
  transition:all 0.3s ease;
}

.navbar_links:hover{
  color:#9518fc;
  transition:all 0.3s ease;
}

@media screen and (max-width:900px) {
 .navbar_container{
     display:flex;
     justify-content:space-between;
     height:80px;
     z-index:1;
     width:100%;
     max-width:1300px;
     padding:0;
 }
.navbar_menu{
    display:grid;
    grid-template-columns:auto;
    margin:0;
    width:100%;
    position:absolute;
    top:-1000px;
    opacity:1;
    transition:all 0.5s ease;
    z-index:-1;
}
.navbar_menu.active{
   background:#131313;
   top:100%;
   opacity:1;
   transition:all 0.5s ease;
   z-index:99;
   height:60vh;
   font-size:1.6rem;
}
#navbar_logo{padding-left:25px;}


.navbar_toggle .bar{
  width:25px;
  height:3px;
  margin:5px auto;
  transition:all 0.3s ease-in-out;
  background:#fff;
}

.navbar_item{
  width:100%;
}

.navbar_links{
  text-align:center;
  padding:2rem;
  width:100%;
  display:table;
}

.navbar_btn {
  padding-bottom:2rem;
}

.button{
  display:flex;
  justify-content:center;
  align-items:center;
  width:80%;
  height:80px;
  margin:0;
}

#mobile_menu{
  position:absolute;
  top:20%;
  right:5%;
  transform:translate(5%,20%);
}
.navbar_toggle .bar{
  display:block;
  cursor:pointer;
}

#mobile_menu.is-active .bar:nth-child(2){
  opacity:0;
}

#mobile_menu.is-active .bar:nth-child(1){
  transform:translateY(8px) rotate(45deg);
}

#mobile_menu.is-active .bar:nth-child(3){
  transform:translateY(-8px) rotate(-45deg);
}
}



  /* About Section */

  .about-section {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    padding : 100px 0;
  }

  .info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
    padding: 30px;
  }

  .img-card {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
  }
 
  .name-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .name-card .name {
    font-size: 1.5rem;
    font-weight: 700;
  }

.name-card button {
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    outline: none;
    border: #fff solid 2px;
    font-size: .8em;
    border-radius: 20px 0;
    font-weight: 600;
}

button:hover {
    border-color: rgb(232, 111, 131);
    color: rgb(232, 111, 131)
}

.logo {
  margin-top :10px;
}

@media screen and (max-width:927px) {

  .info{
    display: flex;
    flex-direction: column;
    padding: 0;

  }

}

@media screen and (max-width:430px) {

  .img-card {
    width: 250px;
    height: 250px;
  }
 
  .name-card {
    padding:0;
  }

  .name-card .name {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .hire-me a {
    display: block;
    margin: 10px auto;
  }
  .hire-me a button {
  margin-inline: auto;
  display: block;
}
}

/* Experience */

.exp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding : 100px 0;
}

.exp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width : 900px;

}

.exp-container-bx  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: ;
  align-items: center;
  padding-top: 50px;
  justify-content:space-around;
  gap :30px;
}

.exp-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width:818px) {

.exp-container {
  max-width: 500px;

}
}


@media screen and (max-width:600px) {
  .exp-card {
    padding:15px;
    }

}
/* Project Section */

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}

.project-card {
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
}

.project-card:hover {
  border-color: rgb(232, 111, 131);
}


.project-card:hover > .project-img {
  border-color: rgb(232, 111, 131);
  }
  

.project-img {
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  border: #fff solid 2px;

}

.project-img img {
object-fit:cover;

}

.project-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
  text-wrap:nowrap;
}

.project-btn{
  display: flex;
  justify-content: space-between;

}
.project-btn button {
  padding: 10px 20px;
  color: #fff;
  background-color: black;
  outline: none;
  border: #fff solid 2px;
  font-size: .8em;
  border-radius: 20px;
  font-weight:bold;
}

.project-btn :hover {
  border-color: rgb(232, 111, 131);
  color: rgb(232, 111, 131);
}


@media screen and (max-width:757px) {


.project-container {
    max-width:500px;
  }

}

@media screen and (max-width:600px) {

.project-container {
  padding:0;
}
.project-card {
  padding: 10px;
}
}

/* Skills Section */

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;

  padding: 100px 0;

}

.skill-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 50px;

}

.skill-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 20px;
}
.skill-card p {
font-size: 1.2rem;
font-weight: 600;
text-transform: uppercase;
}
.skill-level {
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.skill-level span {
  background: rgb(232, 111, 131);
  display: block;
  height: 100%;
  border-radius: 10px;

}

.skill-card-heading {
  grid-column: 1/ span 2;
  text-align: center;
}

@media screen and (max-width:906px) {

  .skill-container {

    max-width: 500px;
  }
}

@media screen and (max-width:500px) {

.skill-card {
grid-template-columns: auto;
padding: 10px;
} 

.skill-card-heading {
grid-column: auto;
} 


}
/* Contact Section */

.contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.contact-info {
  display: flex;
  gap:10px;
  border: #fff solid 2px;
  border-radius: 20px;
  margin-top: 50px;
  padding: 20px 10px;
  font-size: 1.2rem;
  /* max-width: 70%; */

}

/* Footer */
.footer {
  font-size: small;
  text-align: center;
  margin: 50px 0 20px; 
}
  